body{
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
}
.datatypes{
   padding-left: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 10px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #f92efc;          
    height: 85px;
    border-top: 15px;
    border-color: rgb(16, 2, 2);
    border-left: 20px;
    padding-bottom: 10px;
    color: white;
    border-width: 20px;  
   
    
}
.order{
    margin-top: 10px;
    border-radius: 20px;
    background-color: #48fe37;
    margin-bottom: 20px;
    border-top: 30px;
    border-color: rgb(16, 2, 2);
    padding-right: 10px;
    margin-left: 10px;
    border-left: 30px;
    padding-bottom: 20px;
    color: white;
    border-bottom: 20px;
    
}
.startnumber{
       border-radius: 10px;
     background-color: #e530ef;
        border-top: 30px;
        border-color: rgb(205, 26, 26);
        padding-right: 18px;
        margin-left: 25px;
        border-left: 20px;
        padding-bottom: 24px;
        color: white;
        border-width: 24px;

}