body{
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}
.datatypes{
   padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    background-color: #2efc31;          
    height: 85px;
    padding-top: 20px;
    border-top: 20px;
    border-color: black;
    border-left: 30px;

}